{% extends "../base.html" %}
{% block head_title %}
{{ post.title }}
{% endblock %}
{% block content %}
{% load crispy_forms_tags %}


<div class="container post">
    <h3>{{ post.title }}</h3>
    <p class="post-author">{{ post.author }}</p>
    <p class="post-date">{{ post.created_on }}</p>


    <div class="post-content">
        <p> {{ post.content }}</P>
        <ul>
            <li><a href="{{ post.repo_link }}" target="_blank"><i class="fa-brands fa-github"></i></a></li>
            <li><a href="{{ post.live_link }}" target="_blank"><i class="fa-solid fa-browser"></i></a></li>
        </ul>
        <div>
            {{ post.likes.count }} <i class="fa-solid fa-heart"></i>
        </div>
        <p>Last edited: {{ post.updated_on }}</p>
    </div>
{% with reviews.count as total_reviews %}
<div class="reviews-count"><span class="count">{{ total_reviews}}</span><i class="fa-solid fa-comment"></i></div>
{% endwith %}
</div>
{% for review in reviews %}
<div class="container reviews">
    <div class="review-content">
    <h4>{{ review.name }}</h4>
    <p class="post-date"> {{ review.created_on }}</p>
    <p class="post-content"> {{ review.body }} </p>
    <p class="post-date post-edit"><em> EDITED: {{ review.updated_on }}</em></p>
    </div>
    <div class="review-vote">
        <div><i class="fa-solid fa-angle-up"></i></div>
        <div>{{ review.votes.count }}</div>
        <div><i class="fa-solid fa-angle-down"></i></div>
    </div>
</div>
{% endfor %}

<div class="container reviews add-reviews">
    {% if user.is_authenticated %}
        <form method="post">
            {{ review_form | crispy }}
            {% csrf_token %}
            <button class="btn submit-btn" type="submit">Post</button>
        </form>
    {% else %}
        <a class="btn login-btn" href="{% url 'account_login'%}">Login to post a review.</a>
    {% endif %}
</div>
{%endblock%}
