{% extends "../base.html" %}
{% block head_title %}
{{ post.title }}
{% endblock %}
{% block content %}
{% load crispy_forms_tags %}


<div class="container post">
    <h3 class="postdetail-title">{{ post.title }}</h3>
    <h4 class="postdetail-author">{{ post.author }}</h4>
    <p class="post-date">{{ post.created_on }}</p>
    <div class="post-content">
        <p> {{ post.content | safe }}</P>
        <div class="post-links">
            <a class="postdetail-link" href="{{ post.repo_link }}" target="_blank">
                <i class="fa-brands fa-github"></i>
            </a>
            <a class="postdetail-link" href="{{ post.live_link }}" target="_blank">
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </a>
        </div>
        <p class="post-content-edit">
            <em>Last edited: {{ post.updated_on }}</em>
        </p>
    </div>
    {% if user.id == post.author.id or user.is_superuser %}
    <div class="modification">
        <a href="{% url 'edit-post' post.slug %}">Edit</a>
        <a href="{% url 'delete-post' post.slug %}">Delete</a>
    </div>
    {% endif %}

    <div class="post-data">
        <div>
            <span class="likes-count">
                <form method="POST" action="{% url 'like-post' post.slug %}">
                    {% csrf_token %}
                    <button class="likes-button" type="submit" name="post_id" value="{{ post.id }}">{{ post.likes.count }} <i class="data fa-solid fa-heart"></i></button>
                </form>
            </span>
        </div>
        {% with reviews.count as total_reviews %}
        <div class="reviews-count">
            <span class="count">{{ total_reviews}}</span>
            <i class="data fa-solid fa-comment"></i>
        </div>
        {% endwith %}
    </div>

</div>

{% for review in reviews %}
<div class="container reviews-container">
    <div class="reviews">
    <div class="review-content">
        <h4>{{ review.name }}</h4>
        <p class="post-date"> {{ review.created_on }}</p>
        <p class="post-content"> {{ review.body | safe }} </p>
        <p class="post-date post-edit"><em> EDITED: {{ review.updated_on }}</em></p>
    </div>
    </div>
    {% if user.username == review.name or user.is_superuser %}
    <div class="modification">
        <a href="{% url 'edit-review' review.pk %}">Edit</a>
        <a href="{% url 'delete-review' review.pk %}">Delete</a>
    </div>
    {% endif %}
    <div class="review-vote">
        <div class="post-data">
            <div>
                <span class="likes-count">
                    <form method="POST" action="{% url 'like-review' post.slug %}">
                        {% csrf_token %}
                        <button class="votes-button" type="submit" name="review_id" value="{{ review.id }}"><i class="data fa-solid fa-heart"></i>{{ review.votes.count }}</button>
                    </form>
                </span>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<div class="container reviews add-reviews reviews-container">
    {% if user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            {{ review_form | crispy }}
            <button class="btn submit-btn" type="submit">Post</button>
        </form>
    {% else %}
        <a class="btn login-btn" href="{% url 'account_login'%}">Login to post a review.</a>
    {% endif %}
</div>
{%endblock%}