/*--------------------- import fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap");

/*--------------------- colour variables */
:root {
  --blue: #482ff7;
  --lightblue: #cfd2dd;
  --grey: #f2f4f8;
  --dark: #202732;
  --text: #566573;
  --bold: #212f3d;
  --lightgrey: #707070;
}

/*--------------------- Boilerplate CSS */
html {
  height: 100%;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: var(--grey);
  min-height: 100%;
  display: grid;
  grid: auto / 1em 1fr 1em;
}
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  color: var(--blue);
  text-transform: uppercase;
}
/*--------------------- Header styling */
header {
  height: 75px;
  width: 100%;
  background-color: var(--blue);
  padding: 10px;
  /* align */
  align-items: center;
  margin-bottom: 20px;
  grid-column: 1/4;
  display: flex;
  justify-content: space-between;
}
header a {
  text-decoration: none;
  color: #fff;
}
#logo {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 700;
}
#nav-bar > ul {
  list-style: none;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}
#nav-bar > ul > li {
  padding: 5px;
  margin-left: 10px;
}
#nav-bar > ul > li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.active-link {
  font-weight: 900;
}
.btn {
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 5px 5px;
  font-weight: 600;
}
.login-btn {
  background-color: var(--grey);
  color: var(--blue); 
}
.signup-btn {
  background-color: var(--blue);
  color: var(--grey); 
}
/* with help from: https://www.youtube.com/watch?v=OjQP7rPwJyE */
#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}
#hamburger-icon .bar {
  width: 35px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.3s;
}
#hamburger-icon #search-bar-mobile {
  margin-top: 20px;
  width: 300px;
  height: 30px;
  background-color: #fff;
  color: var(--lightgrey);
  border: 1px solid #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}
.open .bar2 {
  opacity: 0;
}
.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -7px);
  transform: rotate(45deg) translate(-6px, -7px);
}
.open .mobile-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.mobile-nav {
  background-color: var(--blue);
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 100px);
  width: 100%;
}
.mobile-nav > li {
  margin: 10px 0;
  list-style-type: none;
}
/*--------------------- Main content Styling */
#main {
  /* display: grid; */
  grid-column: 2/3;
}
.container {
  height: auto;
  width: 90%;
  padding: 10px;
  margin: 15px auto;
  text-decoration: none;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 5px 10px 20px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 10px 20px 3px rgba(0, 0, 0, 0.1);
}


/*--------------------- posts styling */
.all-posts-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.create-post {
  background-color: var(--blue);
  color: #fff;
  font-weight: 400;
  padding: 10px;
}
.post{
  display: flex;
  flex-direction: column;
}
.post-link {
  text-decoration: none;
}
.post > h3 {
  letter-spacing: 1px;
  font-weight: 900;
  text-transform: none;
}
.post-content{
  margin: 10px 0px;
  color: var(--text);
}
.post-content > ul > li {
  list-style-type: none;
}
.post-author > h4 {
  text-transform: none;
  color: var(--bold)
}
.post-date {
  font-size: 14px;
  text-transform: lowercase;
}
.post-likes {
  color: #ff0000;
  display:flex;
  float:right;
}
.pagination{
  list-style-type: none;
}
.page-link {
  text-decoration: none;
  list-style-type: none;
}
.post-content-edit {
  font-size: 10px;
}
.post-data{
  display: flex;
  justify-content: center;
  align-items: center;
}
.post-data > div {
  margin: 0 10px;
}
.data {
  font-size: 20px;
}
.post-links{
  display: flex;
}
.postdetail-title{
  font-size: 24px;;
}
.postdetail-author{
  padding: 10px 0;
}
.postdetail-link{
  font-size: 20px;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.reviews-count{
  color: var(--text);
}
.likes-count{
  color:#ff0000;
}
.modification{
  display:flex;
  flex-direction: row-reverse;
}
.modification > a {
  padding: 5px;
  text-decoration: underline;
  color: var(--lightgrey);
  cursor: pointer;
  font-size: 12px;;
}
.no-comments > h2 {
  text-align: center;
  text-transform: none;
  color: var(--text);
}
.likes-button{
  all: unset;
  cursor: pointer;
}
.votes-button{
  all: unset;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.django-ckeditor-widget{
  width: 100%;
}
/*--------------------- Allauth styling */
.allauth > h1 {
  margin-bottom: 10px;
  text-transform: uppercase;
}
.allauth > p {
  margin-bottom: 10px;
}
.errorlist > li {
  list-style-type: none;
  text-decoration: underline;
}

#id_login, #id_password, #id_email, #id_email2, #id_password1, #id_password2, #id_username{
  background-color: var(--grey);
  margin: 5px;
  width: 200px;
  height: 30px;
  border-radius: 10px;
  border: none;
  padding: 15px 5px;
  font-size: 16px;
}

/* allauth buttons buttons */
.primaryAction {
  background-color: var(--blue);
  color: #fff;
  width: 100%;
  height: 30px;
  margin: 10px auto;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 20px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 20px 3px rgba(0, 0, 0, 0.1);
}

.primaryAction:hover {
  transform: scale(1.1);
  transition: 0.3s;
}


/*--------------------- form styling */
.control-label{
  color: var(--blue);
  font-weight: 700;
  margin: 5px;
}
.control-group {
  width: 100%;
}
.textarea {
  border-radius: 10px;
  margin: 5px;
  width: 90%;
  padding: 10px;
}
.add-reviews {
  display: flex;
  align-items: center;
  justify-content: center;
}
.submit-btn {
  background-color: var(--blue);
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
  margin: 0 auto;
}
form{
  width: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.asteriskField {
  display: none;
}
.textinput, .urlinput {
  margin: 5px;
}
/*--------------------- poste detail styling */

.reviews{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.review-content{
  width: 100%;
}
.review-content > .post-date{
  color: var(--lightgrey)
}
.review-content > .post-edit {
  font-size: 10px;
}
.review-vote{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*--------------------- footer styling */
footer {
  height: 225px;
  margin-top: auto;
  width: 100%;
  background-color: var(--dark);
  color: #fff;
  grid-column: 1/4;
  align-items: center;
  text-align: center;
}
footer > h2 {
  font-size: 20px;
  padding: 10px;
}
footer > p {
  font-size: 16px;
  font-weight: 300;
  padding: 0 15px 5px 15px;
}
.footer-links > ul > li > a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 300;
}
.line-break {
  height: 1px;
  width: 90%;
  background-color: var(--lightgrey);
  margin: 10px auto;
}
.footer-socials > ul > li > a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  margin: 5px 0;
}
.footer-socials > ul > li > a:hover,
.footer-links > ul > li > a:hover {
  color: var(--blue);
}
.footer-socials > ul > li,
.footer-links > ul > li {
  display: inline;
  padding: 5px 10px 5px 10px;
}
.footer-copyright {
  margin-bottom: 5px;
  font-size: 20px;
  margin: 10px auto;
}
.footer-copyright > h6 {
  font-weight: 300;
}
footer > h2, h6 {
  color: #fff;
}

/*--------------------- Media Queries */

/* Responsive navigation */

@media only screen and (max-width: 750px) {
  header nav {
    display: none;
  }
  #hamburger-icon {
    display: block;
  }
}

@media only screen and (min-width: 751px) {
  .allauth{
    width: 400px;
  }
  .primaryAction {
    width: 250px;
    display: flex;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
  }
  .post, .reviews-container {
    width: 50%
  }
  .textarea{
    width: 100%;
  }
}
