/*--------------------- import fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap");

/*--------------------- colour variables */
:root {
  --blue: #482ff7;
  --lightblue: #cfd2dd;
  --grey: #f2f4f8;
  --dark: #202732;
  --text: #566573;
  --bold: #212f3d;
  --lightgrey: #707070;
  --darkhover: rgb(26, 185, 191);
}

/*--------------------- Boilerplate CSS */
html {
  height: 100%;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: var(--grey);
  min-height: 100%;
  display: grid;
  grid: auto / 5% 90% 5%;
}
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  color: var(--blue);
  text-transform: uppercase;
}
/*--------------------- Header styling */
header {
  height: 75px;
  width: 100%;
  background-color: var(--blue);
  padding: 10px;
  /* align */
  align-items: center;
  margin-bottom: 20px;
  grid-column: 1/4;
  display: flex;
  justify-content: space-between;
}
header a {
  text-decoration: none;
  color: #fff;
}
#logo>a>h1 {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}
#logo>a>h1:hover{
  color: var(--darkhover);
}
header a:hover {
  color: var(--darkhover);
  transition: 0.3s;
}
#nav-bar > ul {
  list-style: none;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}
#nav-bar > ul > li {
  padding: 5px;
  margin-left: 10px;
}
#nav-bar > ul > li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.active-link {
  font-weight: 900;
}
.btn {
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 5px 5px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  cursor: pointer;
}
.delete{
  background-color: #d50303;
  color: #fff;
  font-size: 24px;
  width: 90px;
  height: 50px;
  text-transform: uppercase;
  margin-top: 20px;
  border-radius: 10px;
}
.login-btn {
  background-color: var(--grey);
  color: var(--blue); 
}
.signup-btn {
  background-color: var(--blue);
  color: var(--grey); 
}
/* with help from: https://www.youtube.com/watch?v=OjQP7rPwJyE */
#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}
#hamburger-icon .bar {
  width: 35px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.3s;
}
.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}
.open .bar2 {
  opacity: 0;
}
.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -7px);
  transform: rotate(45deg) translate(-6px, -7px);
}
.open .mobile-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.mobile-nav {
  background-color: var(--blue);
  display: none;
  position: absolute;
  top: 70px;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 2;
}
.mobile-nav > li {
  margin: 10px 0;
  list-style-type: none;
}
/*--------------------- Main content Styling */
#main {
  display: flex;
  grid-column: 2/3;
  z-index:1;
  align-items: center;
  flex-direction: column;
}
.container {
  height: auto;
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  text-decoration: none;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 5px 10px 20px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 10px 20px 3px rgba(0, 0, 0, 0.1);
}
.green{
  background-color:#426142;
  color: #fff;
  font-size: 18px;
  text-align: center;
}
.about{
  text-align: center;
}
.about > p{
  margin: 10px 0;
}

/*--------------------- posts styling */
.all-posts-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.create-post {
  background-color: var(--blue);
  color: #fff;
  font-weight: 400;
  padding: 10px;
}
.create-post:hover{
  color: var(--darkhover);
}
.post{
  display: flex;
  flex-direction: column;
}
.post:hover{
  -webkit-box-shadow: 5px 10px 20px 3px rgba(26, 10, 10, 0.5);
  box-shadow: 5px 10px 20px 3px rgba(26, 10, 10, 0.5);
  transition: 0.3s;
  transform: scale(1.05);
}
.post-link {
  text-decoration: none;
}
.post > h3 {
  letter-spacing: 1px;
  font-weight: 900;
  text-transform: none;
}
.post-content{
  margin: 10px 0px;
  color: var(--text);
  max-width: 100%;
}
.hljs {
  white-space: pre;
}
.post-content > ul > li {
  list-style-type: none;
}
.post-author > h4 {
  text-transform: none;
  color: var(--bold)
}
.post-date {
  font-size: 14px;
  text-transform: lowercase;
}
.reviews-count-list{
  display:flex;
  float: right;
}
.post-likes {
  color: #d50303;
  display:flex;
  float:right;
}
.post-list-data{
  display:flex;
  flex-direction: row-reverse;
  align-items: center;
  font-size: 16px;
}
.post-list-data>li{
  padding: 0 5px;

}
.post-content-edit {
  font-size: 10px;
}
.post-data{
  display: flex;
  justify-content: center;
  align-items: center;
}
.post-data > div {
  margin: 0 10px;
}
.data {
  font-size: 20px;
}
.post-links{
  display: flex;
  justify-content: space-around;
}
.postdetail-title{
  font-size: 24px;;
}
.postdetail-author{
  padding: 10px 0;
}
.postdetail-link{
  font-size: 32px;
  margin: 20px 10px;
}
.postdetail-link:hover{
  transform: scale(1.5);
  transition: 0.3s;
}
.reviews-count{
  color: var(--text);
}
.likes-count{
  color: #d50303;
}
.modification{
  display:flex;
  flex-direction: row-reverse;
}
.modification > a {
  padding: 5px;
  text-decoration: underline;
  color: var(--lightgrey);
  cursor: pointer;
  font-size: 12px;;
}
.modification > a:hover{
  color: var(--blue);
}
.no-comments > h2 {
  text-align: center;
  text-transform: none;
  color: var(--text);
}
.likes-button{
  all: unset;
  cursor: pointer;
}
.votes-button{
  all: unset;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.django-ckeditor-widget{
  width: 100%;
  text-align: center;
}
textarea{
  padding: 5px;
}
/*--------------------- Form styling */
.allauth > h1 {
  margin-bottom: 10px;
  text-transform: uppercase;
}
.allauth > p {
  margin-bottom: 10px;
}
.signup > p > label,.new-post-form > p > label, .reset >p>label{
  display: none;
}
.signup{
  width: 100%;
}

#id_login, #id_password, #id_email, #id_email2, #id_password1, #id_password2, #id_username, #id_title, #id_repo_link, #id_live_link{
  background-color: var(--grey);
  margin: 5px auto;
  width: 90%;
  height: 30px;
  border-radius: 10px;
  border: none;
  padding: 15px 5px;
  font-size: 16px;
}
.login>p,
.signup>p,
.reset>p{
  width: 100%;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
}

.new-post-form > p {
  width: 80%;
  text-align: center;
  margin: 5px 0;
}
.new-post-form > p > input{
  width: 100%;
  height: 30px;
  border-radius: 10px;
  border: 1px solid var(--lightgrey);
}
.yes,.no {
  all:unset;
  text-decoration: underline;
  font-size: 30px;
  padding: 5px;
  cursor: pointer;
}
.yes {
  color: #008000;
}
.no{
  color: #d50303;
}
/* allauth buttons buttons */
.primaryAction {
  background-color: var(--blue);
  color: #fff;
  width: 100%;
  height: 30px;
  margin: 10px auto;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 20px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 20px 3px rgba(0, 0, 0, 0.1);
}

.primaryAction:hover {
  transform: scale(1.1);
  transition: 0.3s;
}


/*--------------------- form styling */
.control-label{
  color: var(--blue);
  font-weight: 700;
  margin: 5px;
}
.control-group {
  width: 100%;
}
.textarea {
  border-radius: 10px;
  margin: 5px;
  width: 90%;
  padding: 10px;
}
.add-reviews {
  display: flex;
  align-items: center;
  justify-content: center;
}
.submit-btn {
  background-color: var(--blue);
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
  margin: 0 auto;
}
.submit-btn:hover{
  color: var(--darkhover);
}
form{
  width: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.asteriskField {
  display: none;
}
.textinput, .urlinput {
  margin: 5px;
}
.review-login{
  margin: 0 auto;
  background-color: var(--blue);
  color: #fff;
  text-decoration: none;
}
/*--------------------- poste detail styling */

.reviews{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.review-content{
  max-width: 100%;
}
.review-content > .post-date{
  color: var(--lightgrey)
}
.review-content > .post-edit {
  margin-top: 10px;
  font-size: 10px;
}
.review-vote{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*--------------------- footer styling */
footer {
  height: 225px;
  margin-top: auto;
  width: 100%;
  background-color: var(--dark);
  color: #fff;
  grid-column: 1/4;
  align-items: center;
  text-align: center;
}
footer > h2 {
  font-size: 20px;
  padding: 10px;
}
footer > p {
  font-size: 16px;
  font-weight: 300;
  padding: 0 15px 5px 15px;
}
.footer-links > ul > li > a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 300;
}
.line-break {
  height: 1px;
  width: 90%;
  background-color: var(--lightgrey);
  margin: 10px auto;
}
.footer-socials > ul > li > a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  margin: 5px 0;
}
.footer-socials > ul > li > a:hover,
.footer-links > ul > li > a:hover {
  color: var(--darkhover);
  transition: 0.3s;
}
.footer-socials > ul > li,
.footer-links > ul > li {
  display: inline;
  padding: 5px 10px 5px 10px;
}
.footer-copyright {
  margin-bottom: 5px;
  font-size: 20px;
  margin: 10px auto;
}
.footer-copyright > h6 {
  font-weight: 300;
}
footer > h2, h6 {
  color: #fff;
}

/*--------------------- Media Queries */

/* Responsive navigation */

@media only screen and (max-width: 750px) {
  header nav {
    display: none;
  }
  #hamburger-icon {
    display: block;
  }
}

@media only screen and (min-width: 751px) {
  .allauth{
    width: 400px;
  }
  .primaryAction {
    width: 250px;
    display: flex;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
  }
  .post, .reviews-container {
    width: 50%
  }
  .textarea, .review-content{
    width: 100%;
  }
  .post-content, .review-content{
    max-width: none;
  }
}
